body {
    background-color: #eaebfe;
}
.heading {
    font-family: "Outfit";
    margin: 3%;
    font-size: 40px;
    text-shadow: 2px 2px #022954;
    color: #354c7c;
    text-align: center;
}
#wrapper {
    display: flex;
}
#one {
    flex: 1 20%;
    font-family: "Outfit";
    margin: 3%;
    background-color: #b0b8ce;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 4px 4px #505a74;
}
#two {
    flex: 1 20%;
    font-family: "Outfit";
    margin: 3%;
    background-color: #b0b8ce;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 4px 4px #505a74;
}
#three {
    flex: 1 20%;
    font-family: "Outfit";
    margin: 3%;
    background-color: #b0b8ce;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 4px 4px #505a74;
}
