body {
    background-color: #eaebfe;
}
.heading {
    font-family: "Outfit";
    margin: 1%;
    font-size: 50px;
    text-shadow: 2px 2px #022954;
    color: #354c7c;
    text-align: center;
}
.heading2 {
    font-family: "Outfit";
    margin: 1%;
    font-size: 40px;
    text-shadow: 2px 2px #022954;
    color: #354c7c;
    text-align: center;
}
.descrip {
    font-family: "Outfit";
    text-align: center;
    font-size: 24px;
    margin: 3%;
}
#wrapper {
    display: flex;
}
#one {
    flex: 1 20%;
    font-family: "Outfit";
    margin: 3%;
    background-color: #b0b8ce;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 4px 4px #505a74;
}
#two {
    flex: 1 20%;
    font-family: "Outfit";
    margin: 3%;
    background-color: #b0b8ce;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 4px 4px #505a74;
}
#three {
    flex: 1 20%;
    font-family: "Outfit";
    margin: 3%;
    background-color: #b0b8ce;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 4px 4px #505a74;
}
.btn {
    padding: 10px 25px;
    border: none;
    font-size: 16px;
    border-radius: 6pt;
    font-family: "Outfit";
    letter-spacing: 0.05em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    width: 400px;	height: 35px;
}	
.anim{
    background-color: #b0b8ce;
    box-shadow: 4px 4px #505a74;
    color: black;
}
.anim:hover {
    background-color: #b0b8ce;
    transform: translate(4px, 4px);
    box-shadow: 0px 0px #505a74;
}
.question {
    font-family: "Outfit";
    color: #022954;
}
.answer {
    font-family: "Outfit";
    color: black;
}
